* {
    margin: 0;
    padding: 0;
    font-size: .95em;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
    color: inherit;
    border: none;
}

button{
    background-color: #434343;
    display: flex;
    box-sizing: border-box;
    padding: 0 .5em;
    font-size: 2.5vmin;
    height: 6vmin;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: #333333;
}

button:active{
    background-color: #2C2C2C;
}


h1{
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 4.5vmin;
}

body{
    background-color: black;
    color: white;
}

label{
    font-size: 3vmin;
}

*:disabled{
    background-color: #2C2C2C;
}


.column{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.row{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}