
.gridSquare{
    background-color: #bbbbbb;
    padding: 5em 5em;
    margin-left: 1em;
    margin-top: 1em;

}

.gridSquare:hover {
    background-color: #beebbe;
}

.gridSquare:active{
    background-color: #aeceae;
}

.gridSquare.selectedSelf{
    background-color: #00ff00;
}