*{
  font-family: "Segoe UI",Arial,sans-serif;
  margin:0;
  padding: 0;
  outline: none;

}

body{
  background-color: #555555;
}


button {
  background-color: #a3a3a3;
  color: #555555;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vmin;
  padding: 2vmin 5vmin;
}



button:hover,input:hover{
  background-color: #eeeeee;

}
label:hover,a:hover,h1:hover{
  color: #eeeeee;
}



input:focus{
  background-color: #cecece;
}



text,label,h1,h2,h3,h4{
  color:  #a3a3a3;
}

a{
  text-decoration: none;
  color:  #acacac;
}




footer{
  display: flex;
  color:  #a3a3a3;
  justify-content: center;
  margin: 2em 1em;
}


input {
  display: table;
  background-color: #a3a3a3;

}

.column {

  float: left;

}

.row{
  height: fit-content;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



br {
  height: 0;
}